* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.header,
.navigation,
.content,
.sidebar,
.footer {
  padding: 30px;
}

.header {
  background: green;
}

.navigation {
	background: orange;
}

.content {
  background: teal;
}

.sidebar {
  background: pink;
}

.footer {
  background: yellow;
}
